
@{
    ViewBag.Title = "ElegirServicio";
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-servicios text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="border-radius: 15px">
                    <div class="card-body">
                        <img src="~/Imagenes/delivery-man.png" width="500" height="500">
                        <a class="btn btn-servicio btn-lg" onclick="location.href='@Url.Action("PedirServicioDomicilio", "Pizza", new { a = ViewBag.Productos, precioTotal = ViewBag.Precio})'">Entrega a domicilio</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-servicios text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="border-radius: 15px">
                    <div class="card-body">
                        <img src="~/Imagenes/pizza-shop.png" width="500" height="500">
                       
                        <a class="btn btn-servicio btn-lg" onclick="location.href='@Url.Action("VentanaPago", "Pizza", new { productos = ViewBag.Productos, necesitaEnvio = false, precioTotal = ViewBag.Precio})'">Recoger en restaurante</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

