
@{
    ViewBag.Title = "ObtenerMenu";
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <h1>Menú</h1>
                <hr />
                @for (int numeroArticulos = 0; numeroArticulos < @ViewBag.articulos.Count; numeroArticulos++)
                {
                    <div class="card">
                        <div class="card-body">
                            <h1>@ViewBag.articulos[numeroArticulos].Nombre</h1>
                        </div>
                    </div>

                }

            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3>Mis Productos</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

