.inicio-imagen {
    margin-left: 250px;
}

.opciones{
    margin-right: 350px;
    margin-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;

}



.nav-link {
    color: white;
}

.imagen-principal{
    align-content:center;
    text-align:center;
    margin-left:50px;
    margin-top: 40px;
}

.navbar-brand {
    font-family: 'Segoe Print'; 
    font-size:1.7rem
}

.cards-menu {
    align-content: center;
    text-align: center;
    margin-left: 150px;
    margin-top: 40px;
}

.cards-menu-derecho {
    align-content: center;
    text-align: center;
    margin-left: 100px;
    margin-top: 40px;
}

.titulos-princpal{
    margin-left:50px;
    margin-top:30px;
}

.card-inicio:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn-principal {
    background-color: #FD8721;
    font-weight: bold;
    border: 2px solid orangered;
    color: white;
}

.btn-principal:hover {
    background-color: orangered;
    color: white;
}

.form-select{
    background-color: #FFEBD8;
    font-weight:bold;
}

.pregunta-derecha{
    margin-right:100px;
    margin-left:100px;
}

.pregunta-izquierda {
    margin-left: 100px;
    margin-right: 100px;
}

.form-check-label {
    font-size: 1.5rem;
    margin-left:10px;
    margin-bottom:
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-top:10px;
}


input[type="checkbox"]:checked{
    border-color: orangered;
    background-color: #FD8721;
}

.form-check{
    margin-left:110px;
    margin-bottom:30px;
}

.form-group{
    font-size:1.5rem;
    margin-top:30px;
}

.form-horizontal h1 {
    margin-top: 30px;
    font-family: 'Segoe Print';
}

.form-horizontal h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Segoe Print';
}

.orden{
    margin-top:75px;
    text-align:center;
    align-content:center;
      
}

.orden h3{
    font-weight:bold;
}

.contenedor-menu {
    margin-top: 30px;
    font-family: 'Segoe Print';
    font-size: 1.5rem;
}

#listaArticulos {
    list-style-type: none;
    margin-top:30px;
}

.modal-title{
    font-size:2.5rem;
    text-align:center;
    font-weight:bold;
    align-content:center;
    margin-bottom:30px;
}

.modal-body {
    background-color: #FFD7BA;
}

.btn-servicio {
    background-color: #FFEBD8;
    color: black;
    font-weight: bold;
}