
@{
    ViewBag.Title = "Index";
}
<body>
    <div class="container">
        <a href="#"><img class="imagen-principal" width="1180" src="~/Imagenes/ImagenPrincipal.png"></a>
    </div>
    <div class="container ">
        <div class="row">

            <h1 class="titulos-princpal">Combos familiares</h1>
            <hr />
            <div class="col">
                <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded cards-menu" style="max-width:25rem; border-radius: 15px">
                    <div class="card-body">
                        <a href="#"><img src="~/Imagenes/pizzaCombo1.jpg" width="190" height="200" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                        <a href="#"class="btn btn-principal">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded cards-menu-derecho" style="max-width: 25rem; border-radius: 15px">
                    <div class="card-body">
                        <a href="/Home/Nosotros"><img src="~/Imagenes/combo2.jpg" width="190" height="200" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                        <a href="#" class="btn btn-principal">Comprar ahora</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">

        <h1 class="titulos-princpal">Pizzas Clásicas</h1>
        <hr />
        <div class="col">
            <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded cards-menu" style="max-width:25rem; border-radius: 15px">
                <div class="card-body">
                    <a href="#"><img src="~/Imagenes/pizza1.jpg" width="190" height="200" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                    <a href="#" class="btn btn-principal">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded cards-menu-derecho" style="max-width: 25rem; border-radius: 15px">
                <div class="card-body">
                    <a href="/Home/Nosotros"><img src="~/Imagenes/pizza2.jpg" width="190" height="200" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                    <a href="#" class="btn btn-principal">Comprar ahora</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>


