
@{
    ViewBag.Title = "Index";
}
<body>
    <div class="container">
        <a href="#"><img class="imagen-principal" src="~/Imagenes/ImagenPrincipal.png"></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width:25rem; border-radius: 15px">
                    <div class="card-body">
                        <a href="/Planetario/InformacionHorarios"><img src="~/imagenes/reloj-inicio1.png" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                        <h5 class="card-title">Horarios</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem; border-radius: 15px">
                    <div class="card-body">
                        <a href="/Home/Nosotros"><img src="~/imagenes/info.png" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                        <h5 class="card-title">Nosotros</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem; border-radius: 15px">
                    <div class="card-body">
                        <a href="/Calendarios/Calendarios"><img src="~/imagenes/calendario-inicio1.png" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                        <h5 class="card-title">Calendario</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


